@font-face {
    font-family: mySiteFont;
    src: url(./fonts/open-sans/OpenSans-Light.ttf);
}
@font-face {
    font-family: mySiteFontR;
    src: url(./fonts/open-sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: mySiteFontB;
    src: url(./fonts/open-sans/OpenSans-Semibold.ttf);
}
body {
    font-family: mySiteFont, serif !important;
}
.lg-card-container.list-card .product-image {
    width: 100%;
}
/*** login bar **/
div.modal_pop_up {
    display: block;
    height: 240px;
    width: 400px;
    background: white;
    position: absolute;
    top: 1%;
    left: 33%;
    z-index: 99999;
    box-shadow: 1px 3px 8px 3px grey;
}
div.modal_pop_up.hide {
    display: none !important;
}
div.modal_pop_up .header {
    height: 37px;
    display: inline-block;
    position: absolute;
    background: #4A5678;
    width: 100%;
}
div.modal_pop_up .header span.text {
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;
}
div.modal_pop_up .body select {
    position: absolute;
    top: 63px;
    width: 50%;
    left: 24%;
    height: 32px;
    border: 1px solid #21A179;
    font-size: 17px;
}
div.modal_pop_up .body button {
    background: #4A5678;
    padding: 3px;
    width: 100px;
    position: absolute;
    top: 115px;
    left: 37%;
    border: none;
    height: 36px;
    font-size: 16px;
    color: white;
}

div.modal_pop_up.landing_top_to_bottom {
    animation: start_animation 1s normal forwards ease-in-out
}

@keyframes start_animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
span.cross {
    position: absolute;
    font-size: 26px;
    color: white;
    right: 16px;
    top: -6px;
    cursor: pointer;
}

/*** nav bar style*/
.main-content-wrapper .content-list ul {
    background-color: #4A5678;
}
header #search-form #header-search-icon {
    background-color: #4A5678;
}
.main-category.fs16.unselectable.fw6.cursor-pointer.left {
    background: #343C54;
    color: white;
}
#sidebar-level-0 {
    display: block !important;
    height: auto !important;
    min-height: 438px !important;
}

div.top-banner-image {
    width: 67% !important;
    margin: 0 auto;
}
.container-right > :first-child {
    /*width: 67%;*/
    /*margin-left: 229px;*/
    /*height: 285px !important;*/
    /*margin-top: 1px;*/
}
.container-right.row.no-margin.col-12.no-padding {
    height: 415px !important;
}
img.banner_image {
    background-position: center !important;
    width: 100%;
    height: 356px;
}
#sidebar-level-0 {
    /*z-index: 0 !important;*/
}

ul.side-nav-ul {
    /*height: 331px;*/
    margin-top: -5px;
}

.category-list-container li a {
    padding: 5px 0 0 15px;
}
.pt10 {
    padding-top: 5px !important;
}

#sidebar-level-0 {
    display: none;
    z-index: 2;
    border-top: 2px solid #FF5500;
    border-left: 1px solid #c5c4c4 !important;
    border-right: 1px solid #c5c4c4 !important;
    box-shadow: none;
    border-bottom: 1px solid #c5c4c4 !important;
    margin-top: -4px;
}
.vc-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

header #search-form #header-search-icon {
    background-color: #FF5500;
}
header #search-form input {
    border: 1px solid #FF5500;
}
header #search-form .btn-group select, header #search-form .quantity select {
    border: 1px solid #FF5500;
}

.sidebar_fixed {
    position: fixed !important;
    top: 52px;
}

header .logo.small {
    height: 43px;
    padding-left: 10px;
}

i.sidebar_hide {
    font-size: 25px;
    position: absolute;
    left: 193px;
    top: 7px;
    text-decoration: none;
    color: black;
    padding: 10px 0;
}
#sidebar-level-0.to_show {
    position: fixed !important;
    top: 59px;
    z-index: 99999999;
}

li.category-content:hover {
    border-left: 2px solid #FF5500;
}

li.category-content:hover .category-title-level1, li.category-content:hover .category-title-level1 i
, li.category-content:hover a i {
    color: #FF5500 !important;
}

.category-title-level2:hover {
    color: #FF5500 !important;
}

/*li.category-content:hover .category-title-lavel {*/
    /*color: #FF5500 !important;*/
/*}*/
.category-list-container .sub-categories {
    /*box-shadow: none;*/
    width: 800px;
    height: 441px;
    box-shadow: 1px 1px 4px 1px #8080805c;
}
.sub-categories {
     min-height: 100px !important;
}
.sidebar .category-content .category-title {
    font-weight: 400 !important;
    font-size: 15px;
    top: 1px;
}
.sidebar .category-content .category-title.none_img {
    font-weight: 400 !important;
    font-size: 15px;
    top: -4px;
}
.sidebar .category-content .category-icon img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    object-fit: none;
}
.sidebar .category-content .category-icon {
    width: 21px;
    height: 12px;
}
span.com.category-title.category-title-level23 {
    font-weight: bold !important;
    font-size: 14px;
}
#top #account .welcome-content:hover {
    color: #FF5500 !important;
}
header .mini-cart-container ~ .compare-btn, header .mini-cart-container ~ .wishlist-btn {
    font-size: 15px;
}
header .mini-cart-container ~ .compare-btn:hover, header .mini-cart-container ~ .wishlist-btn:hover {
    color: #FF5500 !important;
}

.sidebar {
    width: 270px !important;
}

.category-list-container .category {
    line-height: 25px;
    height: 39px;

}

.more_option_expand {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin-left: 0;
    cursor: pointer;
    border-top: 1px solid #cecbcb;
    padding: 0px 19px;
    margin: 0;
}
div.more_option_expand i {
    font-size: 10px;
    height: 20px;
    width: 21px;
    border: 1px solid #cecbcb;
    line-height: 19px;
    text-align: center;
    margin-right: 3px;
}
#top #account .welcome-content {
    border-right: 1px solid #cecbcb;
    padding-right: 3px;
    padding-top: 7px;
}
.welcome-content.pull-right:last-child {
    border-left: 1px solid #cecbcb;
}
.more_option_expand:hover {
    color: #FF5500 !important;
}

.footer .footer-content .newsletter-subscription {
    height: 80px;
    background-color: #4A5678;
    line-height: 80px;
}

i.within-circle {
    border-radius: 0;
    background: #2B375C !important;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper .social-icons {
    height: 100%;
    padding: 5px 18px;
    color: #FFFFFF;
    background: #2B375C;
    /*height: 80px;*/
    margin: -10px;
    line-height: 80px;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper .subscribe-newsletter {
    text-align: right;
    padding: 0;
    margin: -10px;
}
span.newsletter-subscription-title {
    font-size: 20px;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper input.subscribe-field {
    max-width: 284px;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper button.subscribe-btn {
    margin-top: 22px;
    background: #FF5500 !important;
}
.footer .footer-content > .row {
    padding: 60px 130px;
    background: #F3F4F8;
}
.clr-dark, .footer .footer-content .footer-statics .software-description p {
    color: black;
}
.footer .footer-content > .row .footer-ct-content > div ul li a {
    color: black;
}
.footer .footer-content > .row {
    padding: 0 130px;
    background: #F3F4F8;
}
.footer .footer-content .footer-statics .software-description {
    padding: 13px;
    margin: 0px -10px;
    background: aqua;
}

.rows {
    width: 100%;
    height: 80px;
    background: #4A5678;
    /*margin-bottom: 5px;*/
}
.rows2 {
    width: 100%;
    height: 200px;
    background: #F3F4F8;

    /*margin-bottom: 5px;*/
}

.rows .news_letter .social-icons {
    background: #2B375C;
    height: 80px;
    line-height: 93px !important;
}
.rows .news_letter .social-icons a {
    margin: 0 3px;
}
.rows .news_letter .social-icons a {
    margin: 0 2px;
}

i.within-circle {
    border-radius: 0;
    background: #2B375C !important;
    border: 1px solid #ffffffb8;
    color: white;
}
header .mini-cart-container ~ .compare-btn .badge-container .badge, header .mini-cart-container ~ .wishlist-btn .badge-container .badge {

    background: #FF5500;
}
div.news_letter span.title {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    display: inline-block;
    float: left;
    font-weight: 600;
    margin-right: 15px;
}
div.subscribe_email {
    position: relative;
    line-height: 35px;
    margin: 19px -2px;
    color: white;
}
div.newsletter_input_div {
    position: relative;
}

input.control.subscribe-field {
    height: 38px;
    padding: 6px 8px;
    font-size: 20px;
    width: 270px;
}
button.theme-btn.subscribe-btn.fw6 {
    background: #FF5500 !important;
    font-size: 18px;
    height: 37px;
    line-height: 16px;
    padding: 10px;
    margin-left: -3px;
}

.contact-footer {
    background: #ECEEF4;
    color: black;
    display: block;
    /* font-size: 17px; */
    height: 200px;
}
 span.contact_main {
    font-size: 16px;
    display: block;
     font-weight: bold;
}
.contact-footer span.contact_dtl {
    font-size: 15px;
}

i.within-circle {
    padding: 7px;
    width: 40px;
    height: 40px;
}

ul.footer_middle_content {

}

ul.footer_middle_content li {
    list-style: none;
    color: black;
    font-size: 15px;
}

ul.footer_middle_content li a {
    text-decoration: none;
    color: black;
}

i.footer_i {
    background: #4A5678;
    color: white;
    /* padding: 6px; */
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

div.foot_contact_main {
    width: 100%;
    display: inline-block;
}
div.foot_contact_left {
    width: 15%;
    float: left;
}
div.foot_contact_right {
    width: 85%;
    float: left;
}
nav#loading_nav {
    min-height: 358px !important;
    margin-top: 129px;
}
nav.loading_nav {
    /* border: 1px solid black; */
    display: block !important;
    /* float: left; */
    height: 420px !important;
    width: 270px !important;
    position: absolute !important;
    border-top: 2px solid #FF5500;
    top: -4px;
    border-right: 1px solid #dcd6d6;
}
nav.loading_nav .shimmer-card {
    margin-left: 0px;
    width: 100%;
    height: 439px;
}
/*li.category-content {*/
    /*line-height: 30px;*/
/*}*/
/*.sidebar .category-content .category-title {*/
    /*line-height: 30px;*/
/*}*/

.category-list-container li a {
    padding: 4px 0 4px 15px;
}
.btn-toolbar > .btn, .quantity .btn-toolbar > button, .quantity .btn-toolbar > input, .btn-toolbar > .btn-group, .btn-toolbar > .quantity, .btn-toolbar > .input-group {
    margin-left: 6px;
}

.product_add_parent {
    /* background: white; */
    /* border: 1px solid #b9b5b5; */
    margin-top: 1px;
    /* width: 99%; */
    /* float: left; */
    /* margin-left: 4px; */
    /* width: 14%; */
    height: 437px;
}
@media only screen and (min-width : 1900px) {
    .product_add_parent {
        width: 16%;
    }
}
.inner_add_div_top {
    height: 140px;
    margin-bottom: 7px;
    box-shadow: 1px 1px 3px 1px grey;
}
.inner_add_div_top a {
    text-decoration: none;
    color: black;
}
.inner_add_div_top:hover {
    box-shadow: 2px 1px 4px 1px #80808096;
}
.inner_add_div_top img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 140px;
    padding: 0;
}
.inner_add_div_top span.price_placeholder {
    display: block;
    text-align: center;
}
.inner_add_div_top span.name_placeholder {
    text-align: center;
    display: block;
    font-size: 16px;
}

.search-bar {
    width: 100%;
    position: relative;
}
.search-bar input {
    width: 100% !important;
    position: absolute;
    left: -15px;
}
.search-bar button {
    position: absolute;
    right: 0;
}

.hard_coded_div {
   /* display: inline-block; */
float: left;
    /* position: absolute; */
    bottom: 0px;
    height: 46px;
    /* background: black; */
    width: 100%;
    /* border: 1px solid #8080807a; */
    margin-top: 10px;
    margin-bottom: -14px !important;
}
.hard_coded_inner_div{
    float: left;
    width: 24.5%;
    border: 1px solid #80808073;
    height: 40px;
    line-height: 17px;
    margin-right: 4px;
}
.hard_coded_inner_div:hover {
    box-shadow: 1px 1px 1px 1px #80808052;
}
.hard_coded_inner_div a {
    text-decoration: none;
    color: black;
    position: relative;
    width: 100%;
    display: block;
}
.hard_coded_inner_div img {
    width: 57px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    height: 100%;
}
.hard_coded_inner_div span.title {
   /* text-align: center; */
display: inline-block;
    font-size: 16px;
    float: left;
    /* height: 100%; */
    /* line-height: 100%; */
    position: absolute;
    left: 60px;
    /* width: 130px; */
    top: 2px;

}
span.title-low {
    position: absolute;
    left: 60px;
    top: 20px;
    font-size: 13px;
    color: gray;
}
.main-content-wrapper {
    margin-bottom: 0 !important;
}
.add_panel {
    height: 82px;
    width: 100%;
}
.add_panel_inner {
    height: 210px;
    position: relative;
    width: 32.5%;
    float: left;
    margin: 0 5px;
}
.add_panel_inner:first-child {
    /*margin-right: 1px !important;*/
}
.add_panel_inner:last-child {
    /*margin-left: 1px !important;*/
}
.add_panel_inner img {
    width: 100%;
    height: 100%;
}
.add_panel_inner a.shop_now_btn {
    position: absolute;
    right: 26px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: 15px;
    background: #ff5500c2;
    padding: 1px 4px;
    bottom: 10px;
}

.add_panel_inner a.shop_now_btn:hover {
    background:  #FF5500;
}

.cont_recom {
    height: 400px;
    /* border: 1px solid #80808094; */
    width: 100%;
    background: #d9dbe026;
    margin: 5px 0;
}

.slick-slide {
    width: 220px !important;
    margin: 2px !important;
}

section.recommended_cat_list {
    width: 100%;
    float: left;
    border-right: 1px solid #80808094;
    height: 365px;
}

section.regular {
    width: 84.8%;
    float: left;
    height: 210px;
    margin: 3px 4px;
}

.recommended_cat_list ul {
    margin-left: -20px;
}
.recommended_cat_list span.title {
    font-size: 19px;
    color: #FF5500;
}
.recommended_cat_list ul li {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    margin: 4px;
    list-style: none;
    padding: 0 0 0 0px;
    color: #000;
    cursor: pointer;
}

.recommended_cat_list ul li.active {
    color: #FF5500;
}

.recommended_cat_list ul li:hover {
    color: #FF5500;
}

.slick-slide img {
    display: block;
    height: 200px;
}

a.regular_slider_href  {

}
a.regular_slider_href img {
    width: 220px;
}
.regular_slider_inner {
    position: relative;
    margin-left: -4px;
}
.regular_slider_inner:hover {
    box-shadow: 1px 1px 2px 1px #80808085;
}
a.regular_slider_href button.slider_quick_view_btn {
    position: absolute;
    top: 47%;
    left: 25%;
    font-size: 16px;
    padding: 1px 6px;
    cursor: pointer;
    background: #FF5500;
    border: none;
    color: white;
}
.slick-list {

}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    /*padding: 0;*/
    height: 216px !important;
    /*padding: 0 52px !important;*/
}

.slick-prev, .slick-next {
    z-index: 9;
}
.slick-prev:before, .slick-next:before {
    font-size: 40px;
}

.slick-prev {
    left: 3px;
}
.slick-next {
    right: 11px;
}
.recommended_title_top {
    width: 100%;
    font-size: 20px;
    color: black;
    border-bottom: 1px solid #80808094;
    height: 35px;
    font-weight: 600;
    position: relative;
}

 button.btn_view_all {
     background: #4A5678;
     padding: 3px;
     width: 100px;
     position: absolute;
     top: 0;
     right: 0;
     border: none;
     height: 30px;
     font-size: 15px;
     color: white;
}
 section.regular {
     display: none !important;
 }

 section.regular.active {
     display: block !important;
 }

::-webkit-scrollbar {
    width: 15px !important;
}

/**** flash sale ***/
/*** flash sales **/
div.flash_sales {
    position: relative;
    background: white;
    /* width: 88%; */
    height: 327px;
    margin: 5px 6px;
}
span.section_title {
    color: black;
    font-size: 20px;
    position: absolute;
    top: -28px;
}
.flash_sales_head {
    height: 40px;
    border-bottom: .5px solid #d0cbcb;
}
.flash_sales_body {

}
div.count_down_div_parent {
    display: inline-block;
    width: 142px;
}
div.count_down_div {
    float: left;
    background: #A40000;
    height: 35px;
    width: 35px;
    /*margin-right: 8px;*/
    color: white;
    line-height: 35px;
    text-align: center;
}
div.display_text_flash_sales {
    height: 40px;
    line-height: 40px;
    float: left;
    width: 193px;
}
span.inline_span {
    font-size: 20px;
    color: black;
    font-weight: 600;
}
span.inline_span2 {
    font-size: 15px;
    font-weight: bold;
    display: block;
    float: left;
    margin: 6px;
}

a.flash_div_href:hover {
    box-shadow: 1px 2px 4px 1px #80808066
}
a.flash_div_href {
    display: inline-block;
    height: 292px !important;
    width: 16%;
    background: #F9FAFA;
    margin: 3px 4px;
    text-decoration: none;
    color: black;
    float: left;
}

img.flash_product {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
span.price {
    font-size: 19px;
    margin: 5px;
    color: #F56700;
}
span.fs-card-title {
    font-size: 15px;
    display: block;
}
span.fs-origin-price {
    text-decoration: line-through;
    font-size: 15px;
    color: grey;
    margin-left: 4px;
}
span.fs-discount {
    margin-left: 10px;
    font-size: 20px;
}

a.btn-home {
    background: #4A5678;
    padding: 3px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    height: 32px;
    line-height:25px;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
}

/*** add third ***/
.add_panel_third {
    margin: 5px 0;
}
.add_panel_third_inner {
    height: 160px;
    position: relative;
    width: 24.2%;
    float: left;
    margin: 0 5px;
}
.add_panel_third_inner:first-child {
    /*margin-right: 1px !important;*/
}
.add_panel_third_inner:last-child {
    /*margin-left: 1px !important;*/
}
.add_panel_third_inner img {
    width: 100%;
    height: 100%;
}
.add_panel_third_inner a.shop_now_btn {
    position: absolute;
    right: 26px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: 15px;
    background: #ff5500c2;
    padding: 1px 4px;
    bottom: 10px;
}

.add_panel_third_inner a.shop_now_btn:hover {
    background:  #FF5500;
}

body {
    background-color: #F6F7FB;
}

.slick-prev:before, .slick-next:before {
    color: #ded7d7;
}


.customize_product_body a.flash_div_href {
    height: 240px !important;
}
.customize_product_body a.flash_div_href img.flash_product {

}
.customize_product_body span.price {
    text-align: center;
    display: block;
}
.customize_product_body span.fs-card-title {

}

.customize_category_body a.flash_div_href {
    height: 245px !important;
}
.customize_category_body a.flash_div_href img.flash_product {

}
.customize_category_body span.price {
    text-align: center;
    display: block;
}
.customize_category_body span.fs-card-title {

}

.top_banner_three_section {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 11px;
    height: 430px;
}

.velocity-divide-page .right {
     padding-left: 0px !important;
}
.velocity-divide-page .left {
    z-index: 1;
    width: 270px;
    position: absolute;
    left: 20px;
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
}
.text-down-4 {
    top: 13px;
    position: relative;
}

.main-container-wrapper .sticky-header {
    width: 100%;
    height: 55px;
}

#top .dropdown {
    margin-right: -3px;
}
#top #account .welcome-content {
    padding-top: 0px;
    height: 31px;
}
#top > div:last-child {
    height: 31px;
}
#top {
    min-height: 30px;
}

.sidebar .category-content .category-icon {
    width: 30px;
    height: 26px;
    text-align: center;
}

li.category-content.cursor-pointer {
    /*border: 1px solid;*/
}

.main-container-wrapper .sticky-header.header-shadow {
    /*position: fixed;*/
     /*width: 101%;*/
}

ul.com {

}
div.nav-child-div {
    /*width: 250px;*/
    /*float: right;*/
}


div.nav-child-div div.child-1 {

}
div.nav-child-div div.child-2 {

}
div.nav-child-div div.child-3 {

}
div.nav-child-div div.child-4 {

}

.sub-item-parent {
    width: 250px;
    display: block;
    vertical-align: top;
    border-right: 1px solid #80808085;
    height: 415px;
}
.sub-item-parent.last {
    border-right: none;
}
.sub-item-child {
    display: inline-block;
}
.sub-item-parent-top {
    display: inline-flex;
}
.sidebar .category-content .rango-arrow-right {
    top: 6px;
    position: relative;
    font-size: 18px;
}

.product-card-new:hover .product-price .sticker {
    display: block;
}
.product-card-new .card-body .add-to-cart-btn {
    width: 100px;
    position: relative;
}
.product-card-new .card-body .add-to-cart-btn .btn-add-to-cart {
    max-width: 100% !important;
}
.product-card-new .card-body .add-to-cart-btn .btn-add-to-cart.small-padding, .product-card-new .card-body .add-to-cart-btn .carousel-products.with-recent-viewed .btn-add-to-cart, .carousel-products.with-recent-viewed .product-card-new .card-body .add-to-cart-btn .btn-add-to-cart {
    max-width: 100px !important;
}
.product-card-new .card-body .compare-icon, .product-card-new .card-body .wishlist-icon {
    display: block;
}
.product-card-new .card-body {
    cursor: default;
    position: relative;
}
.product-card-new .card-body .compare-icon, .product-card-new .card-body .wishlist-icon {
    display: block;
    position: absolute;
    bottom: 0;
}
.product-card-new .card-body > div:last-child {
    margin-top: 10px;
    position: relative;
}
.product-card-new .card-body .add-to-cart-btn {
    /*position: absolute;*/
    left: 44px;
}
a.unset.wishlist-icon.text-right {
    top: 0;
}
a.unset.compare-icon.text-right {
    top: 0;
}
.product-price .sticker {
    top: -203px;
    left: 0;
}
.card.grid-card.product-card-new {
    width: 206px;
}
.VueCarousel .VueCarousel-slide:nth-of-type(1) .product-card-new {
    margin-left: -1px;
}
.product-card-new {
    border: none !important;
    margin: 0 4px 10px 10px;
}
.VueCarousel-navigation-button {
    /*position: relative !important;*/
}
.VueCarousel-navigation-button {
    background-color: #000000e8 !important;
    height: 40px;
    color: white !important;
}
.VueCarousel-navigation-prev {
    left: 25px !important;
}
.VueCarousel-navigation-next {
    right: 25px !important;
}

.recomend-slide-cat-div {
    max-width: 14.4667% !important;
}



@media only screen and (max-width: 320px)  {  }
@media only screen and (max-width: 768px)  {  }
@media only screen and (max-width: 1024px) { }
@media (min-width: 1400px) and (max-width: 1900px) {
    .sidebar {
        width: 300px !important;
    }
    .velocity-divide-page .left {
        z-index: 1;
        width: 300px;
        position: absolute;
        left: 20px;
        height: 42px;
        line-height: 42px;
        padding: 0 10px;
    }
}

.mix-category-section {
    height: 340px;
}
.mix-category-section img {
    width: 100%;
    height: 100%;
    max-height: 225px;
}

.cust-open {
    display: block;
    width: 21%;
    float: left;
}
.cust-midle {
    width: 64%;
    float: left;
    margin-right: 5px;
    margin-top: -5px;
}
.cust-last {
    width: 14%;
    float: left;
}

.slider_parent {
    height: 393px;
}
.slider_image {
    width: 100%;
    height: 393px;
}

.default_section {
    position: relative;
}
.default_section_btn {
    font-size: 17px;
    position: absolute;
    right: 4px;
    top: 0;
    color: white !important;
    background: #4A5678;
    padding: 3px 14px;
    text-decoration: none !important;
}
@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
.smooth_show {
    position: fixed !important;
    width: 101% !important;
    top: 0 !important;
    -webkit-animation: fadeInFromNone 0.5s ease-out;
    -moz-animation: fadeInFromNone 0.5s ease-out;
    -o-animation: fadeInFromNone 0.5s ease-out;
    animation: fadeInFromNone 0.5s ease-out;
}
header #search-form input {
    height: 35px;
    border-radius: 3px;
}
header #search-form * {
    height: 35px;
}
img.category_logo {
    width: 20px;
    height: 20px;
    display: inline-flex;
    object-fit: contain;
    padding-right: 2px;
}
ul.top_category_menu {
    background: white;
    width: 270px;
    margin-top: -4px;
    /* padding: 0 5px; */
    min-height: 442px;
    border: 1px solid gray;
    border-top: 2px solid #FF5500 !important;
    height: auto;
    border-right: 1px solid gray !important;
}

ul.top_category_menu li.sel {
    list-style: none;
    height: 40px;
    font-size: 16px;
    color: gray;
    line-height: 30px;
    padding: 3px 3px;
}
ul.top_category_menu li.sel:hover {
    border-left: 2px solid #FF5500;
    margin-left: -1px;
    background: #e6e6e6;
}
ul.top_category_menu li.sel:hover span {
    /*color: #FF5500;*/
}
ul.top_category_menu li.sel:hover span.li_span_cat_menu {
    color: #FF5500;
}
ul.top_category_menu li.sel a {
    text-decoration: none !important;
    padding: 3px;
    width: 265px;
    display: block;
}
ul li{
    list-style: none;
}
ul li.folder {
    list-style: none;
    position: relative;
    z-index: 999;
    background: white;
}
ul.sub-folders {
    position: absolute;
    min-height: 439px;
    left: 267px;
    z-index: 999999;
    border-left: 1px solid gray;
    width: 1024px;
    background: white;
    height: 440px;
    overflow-y: hidden;
    box-shadow: 1px 1px 5px 0px grey;
    border: 1px solid gray;
}

li.position_div_1 {
    width: 251px;
    float: left;
}

ul.sub-folders li {
    font-size: 14px;
    display: block;
    padding-left: 13px;
}
ul.top_category_menu li.sel a i.category_angle {
    color: black;
    float: right;
    margin-top: 5px;
}
ul.top_category_menu li.sel span.li_span_cat_menu {
    color: black;
    height: 30px;
    line-height: 30px;
    /* display: inline-block; */
    font-size: 15px;
    font-weight: initial;
}
.hard_coded_inner_div span {

}
.hard_coded_inner_div i.secure {
    font-size: 33px;
    display: inline-block;
    height: 43px;
    line-height: 43px;
    margin-left: 19px;
    color: #FF5500;
}
.hard_coded_inner_div i.secure.s {
    font-size: 40px;
}

span.logo-slogan {
    font-size: 13px;
    color: #FF5500;
    text-decoration: none !important;
    display: inline-flex;
    position: absolute;
    top: 19px;
    right: -6px;
}
span.logo-slogan:before {

}

li.position_div_1.folder {

}
li.position_div_1 a {

}
ul.top_category_menu.while_float {
    position: fixed;
    top: 59px;
    z-index: 999999999;
}
ul.top_category_menu.while_float2 {
    position: fixed;
    top: 133px;
    z-index: 999999999;
}
li.position_div_1 a.cat_hideve span {
    color: black;
    font-size: 15px;
    font-weight: 600;
}
li.position_div_1 {

}
li.position_div_1 a.cat_hideve:hover span {
    color: #FF5500;
}
ul.top_category_menu2 li.position_div_1 a.cat_hideve span {
    color: black;
    font-size: 13px;
    font-weight: 500;
}
ul.top_category_menu2 li.position_div_1 a.cat_hideve:hover span {
    color: #FF5500;
}
ul.top_category_menu2 li.position_div_1 {
    height: 23px;
    display: inline-table;
    line-height: 23px;
}
ul.top_category_menu2 li.position_div_1 a {
    height: 23px;
}
span.img_span {
    width: 10%;
    float: left;
}
span.recommend_div_parent {
    display: block;
    width: 100%;
}
img.recommend_img {
    height: 16px;
    width: 16px;
    display: inline-flex;
    object-fit: contain;
}
.full-content-wrapper > .container-fluid {
    padding: 0 !important;
    margin-bottom: 20px !important;
}
.shimmer-card.shimmer-slider {
    height: 390px;
}
span.recommend_cat_name {
    width: 90%;
    float: left;
}
div.product_image_product_view {
    width: 400px;
    height: 400px;
}
div.product_image_product_view img {
    width: 400px;
    height: 400px;
}
div.slider_image_product_view {
    height: 50px;
    width: 400px;
    display: block;
}
div.slider_image_product_view img {
    height: 50px;
    width: 50px;
}

div.product_view_left {
    width: 31%;
    float: left;
}
div.product_view_right {
    width: 45%;
    float: left;
}
div.product_view_end {
    width: 16%;
    float: left;
}
div.product_view_right span.product_name {
    color: #212121;
    font-size: 22px;
    font-weight: normal;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
}
div.product_view_right span.rating img {
    width: 12px;
    height: 12px;
}
.pdp-review-summary__divider {
    width: 1px;
    background: #9e9e9e;
    margin-left: 7px;
    margin-right: 4px;
    display: inline-block;
    height: 14px;
    vertical-align: middle;
}
.pdp-link_size_s {
    font-size: 12px;
}
.pdp-review-summary__link {
    display: inline-block;
    vertical-align: middle;
}
.pdp-product-brand {
    display: inline-block;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #eff0f5;
    line-height: 20px;
}
.pdp-product-brand__name {
    color: #9e9e9e;
    font-size: 12px;
}
.pdp-product-brand__brand-link, .pdp-product-brand__suggestion-link {
    display: inline-block;
    vertical-align: middle;
}
.pdp-link:hover {
    color: #16849b;
    cursor: pointer;
    text-decoration: underline;
}
.pdp-product-brand__suggestion-link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pdp-mod-product-price {
    position: relative;
}
.pdp-product-price {
    display: inline-block;
    padding: 16px 0 17px;
}
.pdp-price_size_xl {
    font-size: 30px;
}
.pdp-price_color_orange {
    color: #f57224;
}
.pdp-price_type_deleted {
    text-decoration: line-through;
}
.pdp-price_size_xs {
    font-size: 14px;
}
.pdp-price_color_lightgray {
    color: #9e9e9e;
}
.pdp-product-price__discount {
    font-size: 14px;
    color: #212121;
    margin-left: 6px;
}
.pdp-mod-promotion-tags {
    padding-top: 4px;
}
.pdp-mod-product-info-section {
    padding: 8px 0;
}
.pdp-mod-promotion-tags .section-title {
    margin-top: 4px;
    height: 24px;
    line-height: 24px;
}
.pdp-mod-product-info-section .section-title {
    display: inline-block;
    margin: 0;
    width: 92px;
    color: #757575;
    word-wrap: break-word;
    font-size: 14px;
    font-weight: normal;
    vertical-align: top;
}
.pdp-mod-product-info-section .section-content {
    display: inline-block;
    width: calc(100% - 92px);
}
.pdp-mod-promotion-tags .promotion-tag-item {
    box-sizing: border-box;
    margin: 4px 15px 4px 0;
    max-width: 100%;
}
.promotion-tag-item.has-arrow {
    padding-right: 25px;
    cursor: pointer;
}
.promotion-tag-item {
    display: inline-block;
    position: relative;
    padding: 0 12px 0 8px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 12px;
    background-color: #f57224;
}
.promotion-tag-item .tag-name {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.qty_div {
    height: 30px;
    line-height: 30px;
}
i.inc_dec_i {
    font-size: 15px;
    color: gray;
    display: inline-block;
    height: 30px;
    /* line-height: 24px; */
    padding: 7px 7px;
    background: #e8e8e8;
    cursor: pointer;
}
i.inc_dec_i:hover {
    background: #dadada;
}
.btn2 {
    border: none;
    height: 35px;
    width: 140px;
    font-size: 20px;
}
.btn-buy-now {
    background: #2ABBE8;
    color: white;
}
.btn-cart {
    background: #F57224;
    color: white;
}
.product_view_more_information {
    width: 60%;
    display: inline-block;
    margin: 16px 0;
    font-size: 18px;
}
.more_information_header_css {
    border-bottom: 1px solid #ccc9c9;
}
span.more_information_header {
    margin: 0 25px 0 0;
    cursor: pointer;
}
span.more_information_header.active {
    border-bottom: 2px solid #F57224;
    padding-bottom: 2px;
}

span.more_information_header:hover {
    border-bottom: 2px solid #F57224;
    padding-bottom: 2px;
}

table.product_details_table {
    border-collapse: collapse;
}

table.product_details_table, table.product_details_table th, table.product_details_table td {
    border: 1px solid gray;
    padding: 3px;
}
div.block_seperate {
    display: block;
    margin: 5px;
}

span.label3 {
    display: block;
    text-align: left;
    color: gray;
    font-weight: 300;
    font-size: 18px;
}
input.ct {
    width: 100%;
}
textarea.ct {
    width: 100%;
}

div.more_information_body div.hide {
    display: none;
}
.more_information_body {
    margin-top: 20px;
}
div.more_information_body div.active {
    display: block;
}
div.div_it_side_menu {

}

ul.sub-folders  a.head_a {
    color: black;
    font-size: 15px !important;
    height: 22px;
    line-height: 15px;
    font-weight: bold !important;
}

div.div_it_side_menu a.div_it_side_menu_a {
    color: black;
    font-size: 13px;
    height: 22px;
    line-height: 15px;
    font-weight: normal;
}
.float_left_parent {
    width: 250px;
    float: left;
    border-left: 1px solid gray;
    padding-left: 6px;
    height: 900px;
    display: flow-root;
}

ul.sub-folders  a:hover {
    color: #FF5500;
}

div.newsletter_input_div span.title {
    font-size: 18px;
}

div.top_nav_menus {
    float: right;
}
div.top_nav_menus ul {

}
div.top_nav_menus ul li {
    display: inline-block;
    font-size: 13px;
    height: 31px;
    line-height: 31px;
    margin-left: 16px;
    border-left: 1px solid gray;
    padding-left: 6px;
}
div.top_nav_menus ul li a {
    text-decoration: none;
    color: black;
}
div.top_nav_menus ul li a:hover  {
    color: #FF5500;
}

div.top_nav_menus ul li a i.in-i {
    margin-right: 2px;
}
span.top_span {
    font-size: 13px;
    height: 31px;
    line-height: 31px;
}
span.top_span span.link {
    color: #FF5500;
}
span.top_span span.link a {

    text-decoration: none;
    color: #FF5500;
    font-size: 14px;

}