/*** login bar **/
div.modal_pop_up {
    display: block;
    height: 240px;
    width: 400px;
    background: white;
    position: absolute;
    top: 1%;
    left: 33%;
    z-index: 99999;
    box-shadow: 1px 3px 8px 3px grey;
}
div.modal_pop_up.hide {
    display: none !important;
}
div.modal_pop_up .header {
    height: 37px;
    display: inline-block;
    position: absolute;
    background: #4A5678;
    width: 100%;
}
div.modal_pop_up .header span.text {
    font-size: 20px;
    color: white;
    text-align: center;
    display: block;
}
div.modal_pop_up .body select {
    position: absolute;
    top: 63px;
    width: 50%;
    left: 24%;
    height: 32px;
    border: 1px solid #21A179;
    font-size: 17px;
}
div.modal_pop_up .body button {
    background: #4A5678;
    padding: 3px;
    width: 100px;
    position: absolute;
    top: 115px;
    left: 37%;
    border: none;
    height: 36px;
    font-size: 16px;
    color: white;
}

div.modal_pop_up.landing_top_to_bottom {
    animation: start_animation 1s normal forwards ease-in-out
}

@keyframes start_animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
span.cross {
    position: absolute;
    font-size: 26px;
    color: white;
    right: 16px;
    top: -6px;
    cursor: pointer;
}

/*** nav bar style*/
.main-content-wrapper .content-list ul {
    background-color: #4A5678;
}
header #search-form #header-search-icon {
    background-color: #4A5678;
}
.main-category.fs16.unselectable.fw6.cursor-pointer.left {
    background: #343C54;
    color: white;
}
#sidebar-level-0 {
    display: block !important;
    height: auto !important;
    min-height: 358px !important;
}

div.top-banner-image {
    width: 67% !important;
    margin: 0 auto;
}
.container-right > :first-child {
    width: 68%;
    margin-left: 233px;
    height: 285px !important;
    margin-top: 1px;
}
.container-right.row.no-margin.col-12.no-padding {
    height: 500px !important;
}
img.banner_image {
    background-position: center !important;
    width: 100%;
    height: 356px;
}
#sidebar-level-0 {
    /*z-index: 0 !important;*/
}

ul.side-nav-ul {
    /*height: 331px;*/
    margin-top: -5px;
}

.category-list-container li a {
    padding: 5px 0 0 15px;
}
.pt10 {
    padding-top: 5px !important;
}

#sidebar-level-0 {
    display: none;
    z-index: 2;
    border-top: 2px solid #FF5500;
    border-left: 1px solid grey !important;
    border-right: 1px solid #c5c4c4 !important;
    box-shadow: none;
    border-bottom: 1px solid #c5c4c4 !important;
    margin-top: -1px;
}
.vc-header {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

header #search-form #header-search-icon {
    background-color: #FF5500;
}
header #search-form input {
    border: 1px solid #FF5500;
}
header #search-form .btn-group select, header #search-form .quantity select {
    border: 1px solid #FF5500;
}

.sidebar_fixed {
    position: fixed !important;
    top: 52px;
}

header .logo.small {
    height: 43px;
    padding-left: 10px;
}

i.sidebar_hide {
    font-size: 25px;
    position: absolute;
    left: 193px;
    top: 15px;
    text-decoration: none;
    color: black;
}
#sidebar-level-0.to_show {
    position: fixed !important;
    top: 52px;
    z-index: 999;
}

li.category-content:hover {
    border-left: 2px solid #FF5500;
}

li.category-content:hover .category-title-level1 {
    color: #FF5500 !important;
}
.category-title-level2:hover {
    color: #FF5500 !important;
}

/*li.category-content:hover .category-title-lavel {*/
    /*color: #FF5500 !important;*/
/*}*/
.category-list-container .sub-categories {
    box-shadow: none;
}
.sub-categories {
     min-height: 100px !important;
}
.sidebar .category-content .category-title {
    font-weight: 400 !important;
    font-size: 15px;
}
span.com.category-title.category-title-level23 {
    font-weight: bold !important;
    font-size: 14px;
}
#top #account .welcome-content:hover {
    color: #FF5500 !important;
}
header .mini-cart-container ~ .compare-btn, header .mini-cart-container ~ .wishlist-btn {
    font-size: 15px;
}
header .mini-cart-container ~ .compare-btn:hover, header .mini-cart-container ~ .wishlist-btn:hover {
    color: #FF5500 !important;
}

.sidebar {
    width: 230px !important;
}

.category-list-container .category {
    line-height: 2.4rem;
}

.more_option_expand {
    height: 27px;
    line-height: 27px;
    font-size: 15px;
    margin-left: 37px;
    cursor: pointer;
}

.more_option_expand:hover {
    color: #FF5500 !important;
}

.footer .footer-content .newsletter-subscription {
    height: 80px;
    background-color: #4A5678;
    line-height: 80px;
}

i.within-circle {
    border-radius: 0;
    background: #2B375C !important;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper .social-icons {
    height: 100%;
    padding: 5px 18px;
    color: #FFFFFF;
    background: #2B375C;
    /*height: 80px;*/
    margin: -10px;
    line-height: 80px;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper .subscribe-newsletter {
    text-align: right;
    padding: 0;
    margin: -10px;
}
span.newsletter-subscription-title {
    font-size: 20px;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper input.subscribe-field {
    max-width: 284px;
}
.footer .footer-content .newsletter-subscription .newsletter-wrapper button.subscribe-btn {
    margin-top: 22px;
    background: #FF5500 !important;
}
.footer .footer-content > .row {
    padding: 60px 130px;
    background: #F3F4F8;
}
.clr-dark, .footer .footer-content .footer-statics .software-description p {
    color: black;
}
.footer .footer-content > .row .footer-ct-content > div ul li a {
    color: black;
}
.footer .footer-content > .row {
    padding: 0 130px;
    background: #F3F4F8;
}
.footer .footer-content .footer-statics .software-description {
    padding: 13px;
    margin: 0px -10px;
    background: aqua;
}

.rows {
    width: 100%;
    height: 80px;
    background: #4A5678;
    /*margin-bottom: 5px;*/
}
.rows2 {
    width: 100%;
    height: 200px;
    background: #F3F4F8;

    /*margin-bottom: 5px;*/
}

.rows .news_letter .social-icons {
    background: #2B375C;
    height: 80px;
    line-height: 93px !important;
}
.rows .news_letter .social-icons a {
    margin: 0 3px;
}
.rows .news_letter .social-icons a {
    margin: 0 2px;
}

i.within-circle {
    border-radius: 0;
    background: #2B375C !important;
    border: 1px solid #ffffffb8;
    color: white;
}
header .mini-cart-container ~ .compare-btn .badge-container .badge, header .mini-cart-container ~ .wishlist-btn .badge-container .badge {

    background: #FF5500;
}
div.news_letter span.title {
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    display: inline-block;
    float: left;
    font-weight: 600;
    margin-right: 15px;
}
div.subscribe_email {
    position: relative;
    line-height: 35px;
    margin: 19px -2px;
}
div.newsletter_input_div {
    position: relative;
}

input.control.subscribe-field {
    height: 38px;
    padding: 6px 8px;
    font-size: 20px;
    width: 270px;
}
button.theme-btn.subscribe-btn.fw6 {
    background: #FF5500 !important;
    font-size: 18px;
    height: 37px;
    line-height: 16px;
    padding: 10px;
    margin-left: -3px;
}

.contact-footer {
    background: #ECEEF4;
    color: black;
    display: block;
    /* font-size: 17px; */
    height: 200px;
}
 span.contact_main {
    font-size: 16px;
    display: block;
     font-weight: bold;
}
.contact-footer span.contact_dtl {
    font-size: 15px;
}

i.within-circle {
    padding: 7px;
    width: 40px;
    height: 40px;
}

ul.footer_middle_content {

}

ul.footer_middle_content li {
    list-style: none;
    color: black;
    font-size: 15px;
}

ul.footer_middle_content li a {
    text-decoration: none;
    color: black;
}

i.footer_i {
    background: #4A5678;
    color: white;
    /* padding: 6px; */
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

div.foot_contact_main {
    width: 100%;
    display: inline-block;
}
div.foot_contact_left {
    width: 15%;
    float: left;
}
div.foot_contact_right {
    width: 85%;
    float: left;
}
nav#loading_nav {
    min-height: 358px !important;
}
nav.loading_nav {
    /* border: 1px solid black; */
    display: block !important;
    /* float: left; */
    height: auto !important;
    width: 230px !important;
    position: absolute !important;
    border-top: 2px solid #FF5500;
    top: -1px;
    border-right: 1px solid #dcd6d6;
}
/*li.category-content {*/
    /*line-height: 30px;*/
/*}*/
/*.sidebar .category-content .category-title {*/
    /*line-height: 30px;*/
/*}*/

.category-list-container li a {
    padding: 4px 0 4px 15px;
}
.btn-toolbar > .btn, .quantity .btn-toolbar > button, .quantity .btn-toolbar > input, .btn-toolbar > .btn-group, .btn-toolbar > .quantity, .btn-toolbar > .input-group {
    margin-left: 6px;
}

.product_add_parent {
    background: white;
    border: 1px solid #b9b5b5;
    margin-top: 1px;
    /* width: 99%; */
    float: left;
    margin-left: 4px;
    width: 14%;
    height: 415px;
}
@media only screen and (min-width : 1900px) {
    .product_add_parent {
        width: 16%;
    }
}
.inner_add_div_top {
    border-bottom: 1px solid #808080d1;
    height: 138px;
}
.inner_add_div_top a {
    text-decoration: none;
    color: black;
}
.inner_add_div_top:hover {
    box-shadow: 2px 1px 4px 1px #80808096;
}
.inner_add_div_top img {
    /* width: 60px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 91px;
}
.inner_add_div_top span.price_placeholder {
    display: block;
    text-align: center;
}
.inner_add_div_top span.name_placeholder {
    text-align: center;
    display: block;
    font-size: 16px;
}

.hard_coded_div {
    display: inline-block;
    float: left;
    position: absolute;
    bottom: 85px;
    height: 56px;
    /* background: black; */
    width: 85%;
    border: 1px solid #8080807a;
}
.hard_coded_inner_div{
    float: left;
    width: 20%;
    border: 1px solid #80808073;
    height: 56px;

}
.hard_coded_inner_div:hover {
    box-shadow: 1px 1px 1px 1px #80808052;
}
.hard_coded_inner_div a {
    text-decoration: none;
    color: black;
    position: relative;
    width: 100%;
    display: block;
}
.hard_coded_inner_div img {
    width: 57px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    height: 100%;
}
.hard_coded_inner_div span.title {
    /* text-align: center; */
    display: inline-block;
    font-size: 16px;
    float: left;
    /* height: 100%; */
    /* line-height: 100%; */
    position: absolute;
    right: 9px;
    /* width: 130px; */
    top: 12px;

}

.main-content-wrapper {
    margin-bottom: 0 !important;
}
.add_panel {
    height: 82px;
    width: 100%;
}
.add_panel_inner {
    height: 82px;
    position: relative;
    width: 24.8%;
    float: left;
    margin-right: 1px;
}
.add_panel_inner:first-child {
    margin-right: 1px !important;
}
.add_panel_inner:last-child {
    /*margin-left: 1px !important;*/
}
.add_panel_inner img {
    width: 100%;
    height: 82px;
}
.add_panel_inner a.shop_now_btn {
    position: absolute;
    right: 26px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    font-size: 15px;
    background: #ff5500c2;
    padding: 1px 4px;
    bottom: 10px;
}

.add_panel_inner a.shop_now_btn:hover {
    background:  #FF5500;
}

.cont_recom {
    height: 248px;
    /* border: 1px solid #80808094; */
    width: 100%;
    background: #d6dff326;
    margin-top: 5px;
}

.slick-slide {
    width: 216px !important;
    margin: 2px !important;
}

section.recommended_cat_list {
    width: 16.5%;
    float: left;
    border-right: 1px solid #80808094;
    height: 217px;
}

section.regular {
    width: 82%;
    float: left;
    height: 210px;
    margin: 3px 4px;
}

.recommended_cat_list ul {

}
.recommended_cat_list span.title {
    font-size: 19px;
    color: #FF5500;
}
.recommended_cat_list ul li {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    margin: 4px;
    list-style: none;
    padding: 0 0 0 0px;
}
.recommended_cat_list ul li a {
    text-decoration: none;
    color: #000;
}
.recommended_cat_list ul li:hover a {
    color: #FF5500;
}

.slick-slide img {
    display: block;
    height: 200px;
}

a.regular_slider_href  {

}
a.regular_slider_href img {
    width: 217px;
}
.regular_slider_inner {
    position: relative;
    margin-left: -4px;
}
.regular_slider_inner:hover {
    box-shadow: 1px 1px 2px 1px #80808085;
}
a.regular_slider_href button.slider_quick_view_btn {
    position: absolute;
    top: 47%;
    left: 25%;
    font-size: 16px;
    padding: 1px 6px;
    cursor: pointer;
    background: #FF5500;
    border: none;
    color: white;
}
.slick-list {

}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    /*padding: 0;*/
    height: 216px !important;
    /*padding: 0 52px !important;*/
}

.slick-prev, .slick-next {
    z-index: 9;
}
.slick-prev:before, .slick-next:before {
    font-size: 40px;
}

.slick-prev {
    left: 3px;
}
.slick-next {
    right: 11px;
}
.recommended_title_top {
    width: 100%;
    font-size: 20px;
    color: black;
    border-bottom: 1px solid #80808094;
    height: 35px;
    font-weight: 600;
    position: relative;
}

 button.btn_view_all {
     background: #4A5678;
     padding: 3px;
     width: 100px;
     position: absolute;
     top: 0;
     right: 0;
     border: none;
     height: 30px;
     font-size: 15px;
     color: white;
}
